# AirBnB NY Locations Data Case Study

In this final project, you task will be to take the data provided and find evidance to answer the following questions.

1. Which hosts are the busiest and why?
2. How many neighborhood groups are available and which shows up the most?
3. Are private rooms the most popular in manhattan?
4. Which hosts are the busiest and based on their reviews?
5. Which neighorhood group has the highest average price?
6. Which neighborhood group has the highest total price?
7. Which top 5 hosts have the highest total price?
8. Who currently has no (zero) availability with a review count of 100 or more?
9. What host has the highest total of prices and where are they located?
10. When did Danielle from Queens last receive a review?


This is to similute what you will face when you are out in the wild. 

Happy Coding!

In [19]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [20]:
air_bnb = pd.read_csv('AB_NYC_2019.csv')
air_bnb.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0

In [21]:
# How many neighborhood groups are available and which shows up the most?
air_bnb.groupby('neighbourhood_group').count()
# 5-available Manhattan-highest frequency

,id,name,host_id,host_name,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
neighbourhood_group,,,,,,,,,,,,,,,
Bronx,1091,1090,1091,1090,1091,1091,1091,1091,1091,1091,1091,876,876,1091,1091
Brooklyn,20104,20098,20104,20095,20104,20104,20104,20104,20104,20104,20104,16447,16447,20104,20104
Manhattan,21661,21652,21661,21652,21661,21661,21661,21661,21661,21661,21661,16632,16632,21661,21661
Queens,5666,5666,5666,5664,5666,5666,5666,5666,5666,5666,5666,4574,4574,5666,5666
Staten Island,373,373,373,373,373,373,373,373,373,373,373,314,314,373,373

In [22]:
# Are private rooms the most popular in manhattan?
air_bnb.groupby(['neighbourhood_group', 'room_type']).count()
# apt are the most popular. there are 13000+ ids of them

                                        id   name  host_id  host_name  \
neighbourhood_group room_type
Bronx               Entire home/apt    379    379      379        378
                    Private room       652    652      652        652
                    Shared room         60     59       60         60
Brooklyn            Entire home/apt   9559   9558     9559       9554
                    Private room     10132  10127    10132      10128
                    Shared room        413    413      413        413
Manhattan           Entire home/apt  13199  13193    13199      13196
                    Private room      7982   7979     7982       7976
                    Shared room        480    480      480        480
Queens              Entire home/apt   2096   2096     2096       2096
                    Private room      3372   3372     3372       3370
                    Shared room        198    198      198        198
Staten Island       Entire home/apt    176    176      176        176
                    Private room       188    188      188        188
                    Shared room          9      9        9          9

                                     neighbourhood  latitude  longitude  \
neighbourhood_group room_type
Bronx               Entire home/apt            379       379        379
                    Private room               652       652        652
                    Shared room                 60        60         60
Brooklyn            Entire home/apt           9559      9559       9559
                    Private room             10132     10132      10132
                    Shared room                413       413        413
Manhattan           Entire home/apt          13199     13199      13199
                    Private room              7982      7982       7982
                    Shared room                480       480        480
Queens              Entire home/apt           2096      2096       2096
                    Private room              3372      3372       3372
                    Shared room                198       198        198
Staten Island       Entire home/apt            176       176        176
                    Private room               188       188        188
                    Shared room                  9         9          9

                                     price  minimum_nights  number_of_reviews  \
neighbourhood_group room_type
Bronx               Entire home/apt    379             379                379
                    Private room       652             652                652
                    Shared room         60              60                 60
Brooklyn            Entire home/apt   9559            9559               9559
                    Private room     10132           10132              10132
                    Shared room        413             413                413
Manhattan           Entire home/apt  13199           13199              13199
                    Private room      7982            7982               7982
                    Shared room        480             480                480
Queens              Entire home/apt   2096            2096               2096
                    Private room      3372            3372               3372
                    Shared room        198             198                198
Staten Island       Entire home/apt    176             176                176
                    Private room       188             188                188
                    Shared room          9               9                  9

                                     last_review  reviews_per_month  \
neighbourhood_group room_type
Bronx               Entire home/apt          309                309
                    Private room             524                524
                    Shared room               43                 43
Brooklyn            Entire home/apt         8164               8164
                    Private room            7993               7993
                    Shared room              290                290
Manhattan           Entire home/apt         9967               9967
                    Private room            6309               6309
                    Shared room              356                356
Queens              Entire home/apt         1742               1742
                    Private room            2680               2680
                    Shared room              152                152
Staten Island       Entire home/apt          150                150
                    Private room             159                159
                    Shared room                5                  5

                                     calculated_host_listings_count  \
neighbourhood_group room_type
Bronx               Entire home/apt                             379
                    Private room                                652
                    Shared room                                  60
Brooklyn            Entire home/apt                            9559
                    Private room                              10132
                    Shared room                                 413
Manhattan           Entire home/apt                           13199
                    Private room                               7982
                    Shared room                                 480
Queens              Entire home/apt                            2096
                    Private room                               3372
                    Shared room                                 198
Staten Island       Entire home/apt                             176
                    Private room                                188
                    Shared room                                   9

                                     availability_365
neighbourhood_group room_type
Bronx               Entire home/apt               379
                    Private room                  652
                    Shared room                    60
Brooklyn            Entire home/apt              9559
                    Private room                10132
                    Shared room                   413
Manhattan           Entire home/apt             13199
                    Private room                 7982
                    Shared room                   480
Queens              Entire home/apt              2096
                    Private room                 3372
                    Shared room                   198
Staten Island       Entire home/apt               176
                    Private room                  188
                    Shared room                     9

In [24]:
# Which hosts are the busiest and based on their reviews?
air_bnb.groupby('host_name').sum()
# Cil is the busiest

,id,host_id,latitude,longitude,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
host_name,,,,,,,,,,
'Cil,8622301,45354224,40.76914,-73.92118,120,2,240,5.22,1,298
(Ari) HENRY LEE,7899658,40605120,40.78938,-73.94679,140,7,3,0.06,1,56
(Email hidden by Airbnb),89997120,109533619,244.45538,-443.83734,1060,15,75,3.96,8,358
(Mary) Haiy,15628789,100757200,40.63461,-74.02451,126,1,188,5.81,1,295
-TheQueensCornerLot,30425770,128580688,40.70524,-73.73349,150,1,51,7.43,1,248
...,...,...,...,...,...,...,...,...,...,...
단비,10684843,55197031,40.73242,-74.00411,150,1,0,0.00,1,0
빈나,32554746,112439306,40.73180,-73.97999,125,4,1,0.24,1,0
소정,62496372,212694665,81.44681,-147.95337,103,36,1,0.09,2,250
진,22392030,151728547,40.77506,-73.98162,70,15,0,0.00,1,0
현선,26139678,18497228,40.80485,-73.96534,1200,60,0,0.00,1,365

In [26]:
#Which neighorhood group has the highest average price?
air_bnb.groupby('neighbourhood_group').mean().sort_values('price', ascending = True)['price']
# manhattan is the highest price at around 197

neighbourhood_group
Bronx             87.496792
Queens            99.517649
Staten Island    114.812332
Brooklyn         124.383207
Manhattan        196.875814
Name: price, dtype: float64

In [27]:
# Which neighbor hood group has the highest total price?
air_bnb.groupby('neighbourhood_group').sum()
#manhattan has highest total at around 4200000

,id,host_id,latitude,longitude,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
neighbourhood_group,,,,,,,,,,
Bronx,24803796188,115220380205,44565.50071,-8.060805e+04,95459,4976,28371,1609.94,2437,180843
Brooklyn,367035792483,1140203577483,817931.96821,-1.486715e+06,2500600,121761,486574,21104.98,45925,2015070
Manhattan,406683958152,1469279004836,883012.01680,-1.602364e+06,4264527,185833,454569,21158.08,277073,2425586
Queens,123263814259,544824426112,230784.85597,-4.185631e+05,563867,29358,156950,8879.05,23005,818464
Staten Island,8055857451,36753031930,15147.61383,-2.764147e+04,42825,1802,11541,587.99,865,74480

In [28]:
#Which top 5 hosts have the highest total price?
air_bnb.groupby('host_name').sum()

#현선 (Email hidden by Airbnb) 단비  HENRY LEE Queens Corner Lot

,id,host_id,latitude,longitude,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
host_name,,,,,,,,,,
'Cil,8622301,45354224,40.76914,-73.92118,120,2,240,5.22,1,298
(Ari) HENRY LEE,7899658,40605120,40.78938,-73.94679,140,7,3,0.06,1,56
(Email hidden by Airbnb),89997120,109533619,244.45538,-443.83734,1060,15,75,3.96,8,358
(Mary) Haiy,15628789,100757200,40.63461,-74.02451,126,1,188,5.81,1,295
-TheQueensCornerLot,30425770,128580688,40.70524,-73.73349,150,1,51,7.43,1,248
...,...,...,...,...,...,...,...,...,...,...
단비,10684843,55197031,40.73242,-74.00411,150,1,0,0.00,1,0
빈나,32554746,112439306,40.73180,-73.97999,125,4,1,0.24,1,0
소정,62496372,212694665,81.44681,-147.95337,103,36,1,0.09,2,250
진,22392030,151728547,40.77506,-73.98162,70,15,0,0.00,1,0
현선,26139678,18497228,40.80485,-73.96534,1200,60,0,0.00,1,365

In [30]:
# Who currently has no (zero) availability with a review count of 100 or more?
#Couldnt figure out this one

NameError: name 'air2' is not defined

In [34]:
# What host has the highest total of prices and where are they located?
air_bnb.groupby('host_name').sum().sort_values('price')
#I think Sonder has highest price and he is located in manhattan 
air_bnb[air_bnb['host_name'] == 'Sonder (NYC)']

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
38293,30181691,Sonder | 180 Water | Incredible 2BR + Rooftop,219517861,Sonder (NYC),Manhattan,Financial District,40.70637,-74.00645,Entire home/apt,302,29,0,NaN,NaN,327,309
38294,30181945,Sonder | 180 Water | Premier 1BR + Rooftop,219517861,Sonder (NYC),Manhattan,Financial District,40.70771,-74.00641,Entire home/apt,229,29,1,2019-05-29,0.73,327,219
38588,30347708,Sonder | 180 Water | Charming 1BR + Rooftop,219517861,Sonder (NYC),Manhattan,Financial District,40.70743,-74.00443,Entire home/apt,232,29,1,2019-05-21,0.60,327,159
39769,30937590,Sonder | The Nash | Artsy 1BR + Rooftop,219517861,Sonder (NYC),Manhattan,Murray Hill,40.74792,-73.97614,Entire home/apt,262,2,8,2019-06-09,1.86,327,91
39770,30937591,Sonder | The Nash | Lovely Studio + Rooftop,219517861,Sonder (NYC),Manhattan,Murray Hill,40.74771,-73.97528,Entire home/apt,255,2,14,2019-06-10,2.59,327,81
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47691,35871510,Sonder | 116 John | Vibrant Studio + Fitness Room,219517861,Sonder (NYC),Manhattan,Financial District,40.70818,-74.00631,Entire home/apt,135,29,0,NaN,NaN,327,339
47692,35871511,Sonder | 116 John | Vibrant 1BR + Fitness Room,219517861,Sonder (NYC),Manhattan,Financial District,40.70691,-74.00682,Entire home/apt,165,29,0,NaN,NaN,327,342
47693,35871515,Sonder | 116 John | Stunning 1BR + Rooftop,219517861,Sonder (NYC),Manhattan,Financial District,40.70772,-74.00673,Entire home/apt,165,29,0,NaN,NaN,327,347
47814,35936418,Sonder | 116 John | Polished Studio + Gym,219517861,Sonder (NYC),Manhattan,Financial District,40.70840,-74.00518,Entire home/apt,699,29,0,NaN,NaN,327,327
47821,35937891,Sonder | 116 John | Simple Studio + Gym,219517861,Sonder (NYC),Manhattan,Financial District,40.70707,-74.00557,Entire home/apt,699,29,0,NaN,NaN,327,341

In [ ]:
# When did Danielle from Queens last receive a review?

#Not sure how to do this one

## Further Questions

1. Which host has the most listings?

In [35]:
air_bnb.groupby('host_name').count().sort_values('id', ascending = False)
# i think michael at around 400+

,id,name,host_id,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
host_name,,,,,,,,,,,,,,,
Michael,417,417,417,417,417,417,417,417,417,417,417,335,335,417,417
David,403,403,403,403,403,403,403,403,403,403,403,309,309,403,403
Sonder (NYC),327,327,327,327,327,327,327,327,327,327,327,207,207,327,327
John,294,294,294,294,294,294,294,294,294,294,294,250,250,294,294
Alex,279,279,279,279,279,279,279,279,279,279,279,229,229,279,279
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Jerbean,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
Jerald,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
Jeonghoon,1,1,1,1,1,1,1,1,1,1,1,0,0,1,1
Jeny,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
현선,1,1,1,1,1,1,1,1,1,1,1,0,0,1,1

2. How many listings have completely open availability?

In [36]:
air_bnb[air_bnb['availability_365'] == 365] 
# the list cuts off at 97 and ends at 48887

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
36,11452,Clean and Quiet in Brooklyn,7355,Vt,Brooklyn,Bedford-Stuyvesant,40.68876,-73.94312,Private room,35,60,0,NaN,NaN,1,365
38,11943,Country space in the city,45445,Harriet,Brooklyn,Flatbush,40.63702,-73.96327,Private room,150,1,0,NaN,NaN,1,365
97,21644,"Upper Manhattan, New York",82685,Elliott,Manhattan,Harlem,40.82803,-73.94731,Private room,89,1,1,2018-10-09,0.11,1,365
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48744,36415840,A BEAUTIFUL SPACE IN HEART OF WILLIAMSBURG,223715460,Simon And Julian,Brooklyn,Williamsburg,40.71091,-73.96560,Entire home/apt,499,30,0,NaN,NaN,1,365
48844,36453952,West Village Studio on quiet cobblestone street,115491896,Will,Manhattan,West Village,40.73620,-74.00827,Entire home/apt,205,1,0,NaN,NaN,1,365
48868,36473253,Heaven for you(only for guy),261338177,Diana,Brooklyn,Gravesend,40.59118,-73.97119,Shared room,25,7,0,NaN,NaN,6,365
48880,36481315,The Raccoon Artist Studio in Williamsburg New ...,208514239,Melki,Brooklyn,Williamsburg,40.71232,-73.94220,Entire home/apt,120,1,0,NaN,NaN,3,365
48887,36483152,Garden Jewel Apartment in Williamsburg New York,208514239,Melki,Brooklyn,Williamsburg,40.71232,-73.94220,Entire home/apt,170,1,0,NaN,NaN,3,365

3. What room_types have the highest review numbers?

In [38]:
air_bnb.groupby('room_type').mean().sort_values('number_of_reviews')
#private rooms have the highest numbers averaging around 24

,id,host_id,latitude,longitude,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
room_type,,,,,,,,,,
Shared room,2.300378e+07,1.026241e+08,40.730514,-73.943343,70.127586,6.475000,16.600000,1.471726,4.662931,162.000862
Entire home/apt,1.843818e+07,6.175593e+07,40.728649,-73.960696,211.794246,8.506907,22.842418,1.306578,10.698335,111.920304
Private room,1.946893e+07,7.247514e+07,40.729208,-73.942924,89.780973,5.377900,24.112962,1.445209,3.227717,111.203933

# Final Conclusion

In this cell, write your final conclusion for each of the questions asked.

Also, if you uncovered some more details that were not asked above, please discribe them here.

-- Add your conclusion --